################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Snake/obj/Debug/netstandard2.1
/Snake/obj
/Snake/bin/Debug/netstandard2.1/wwwroot/_framework
/Snake/bin/Debug/netstandard2.1
