@page "/Game"

<div class="alert alert-danger"> <h4 style=" text-align: center;">Obszar gry musi być zaznaczony aby kontrolować węża</h4></div>

<div id="gaming-area" tabindex="0" style="height:@boxSizePx;width:@boxSizePx;background-color:black" @onkeydown="SaveKeyboardAction" @ref="gamingArea">


    @foreach (var block in _snake)
    {
        <SnakeElement BoxSize="boxSize" FieldsInLine="fieldsInLine" X="block.X" Y="block.Y" />

    }
    <FoodElement BoxSize="boxSize" FieldsInLine="fieldsInLine" X="_food.X" Y="_food.Y" />
</div>
<hr />
<MudItem>
    <MudSlider @bind-Value="interval" Step="10" Min="20" Max="150" Color="Color.Tertiary" Class="mt-6">Interval: @interval.ToString()ms</MudSlider>
</MudItem>
<MudItem>
    <MudSlider @bind-Value="boxSize" Step="100" Min="200" Max="1000" Color="Color.Tertiary" Class="mt-6">boxSize: @boxSize.ToString()px</MudSlider>
</MudItem>
<hr />
<h5>Twoje punkty: <strong>@points</strong></h5>

@if (scores.Count != 0)
{
    <h5>Poprzednie wyniki:</h5>
    @foreach (var score in scores)
    {
        <strong>@score ,</strong>
    }

    <hr />
    <h5>Najlepszy wynik: @scores.Max()</h5>


}


@code
{
    private int boxSize = 400;
    private int fieldsInLine = 20;
    private int interval = 100;
    private LinkedList<SnakeBlock> _snake;
    private List<int> scores = new List<int>();
    private string currentDirection = "KEYD";
    private FoodBlock _food;
    private int points = 0;


    private string boxSizePx
    {
        get => $"{boxSize}px";
        
    }
    
    ElementReference gamingArea;

    protected override async Task OnInitializedAsync()
    {
        _snake = new LinkedList<SnakeBlock>();
        _snake.AddFirst(new SnakeBlock(0, 0));
        _snake.AddFirst(new SnakeBlock(1, 0));
        _snake.AddFirst(new SnakeBlock(2, 0));
        _snake.AddFirst(new SnakeBlock(3, 0));

        _food = new FoodBlock(fieldsInLine, _snake);

        _ = Clock();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await gamingArea.FocusAsync();
        }
    }


    private void SaveKeyboardAction(KeyboardEventArgs args)
    {


        if (
            args.Code != "KeyW" &&
            args.Code != "KeyA" &&
            args.Code != "KeyS" &&
            args.Code != "KeyD" &&
            args.Code != "ArrowLeft" &&
            args.Code != "ArrowRight" &&
            args.Code != "ArrowDown" &&
            args.Code != "ArrowUp"
            )
        {
            return;
        }
        else
        {
            currentDirection = args.Code.ToUpper();
        }
    }


    private async Task Clock()
    {
        while (true)
        {


            //dodajemy
            var head = GenerateNewOne(_snake.Min().X, _snake.Min().Y);
            _snake.AddFirst(head);

            //czy zjadl jedzenie
            var foodFound = head.Equals(_food);
            if (foodFound)
            {
                _food = new FoodBlock(fieldsInLine, _snake);
                points = _snake.Count - 4;
            }

            else
            {

                //usuwamy ogon
                _snake.RemoveLast();
            }


            //sprawdzamy czy nie zjadl siebie

            if (_snake.Count(e => e.Equals(head)) > 1)
            {
                ResetGame();

            }

            //zmiana stanu
            StateHasChanged();
            //usypiamy watek zgodnie z interwalem

            await Task.Delay(interval);
        }
    }

    private SnakeBlock GenerateNewOne(int x, int y)
    {


        switch (currentDirection)
        {
            case "KEYW":
            case "ARROWUP":
                y--;
                break;

            case "KEYS":
            case "ARROWDOWN":
                y++;
                break;
            case "KEYA":
            case "ARROWLEFT":
                x--;
                break;
            case "KEYD":
            case "ARROWRIGHT":
                x++;
                break;

        }

        if (x == fieldsInLine) x = 0;

        if (x < 0) x = fieldsInLine - 1;



        if (y == fieldsInLine) y = 0;

        if (y < 0) y = fieldsInLine - 1;

        return new SnakeBlock(x, y);

    }




    private void ResetGame()
    {

        while (_snake.Count > 4)
        {
            _snake.RemoveLast();
        }
        if (points != 0)
        {
            scores.Add(points);
            points = 0;
        }

    }

}