@page "/"
@inject NavigationManager _navigator 
<h1>Sterowanie W,S,A,D</h1>
<h2>lub</h2>
<h1>&#129045; &#129047; &#129044; &#129046;</h1>


<button class="btn btn-primary" @onclick='() => _navigator.NavigateTo("/Game")'>Rozumiem</button>
